<section class="info">
 
  <h1><%= cafe.name %></h1>

  <div class="cafe-photos">
    <figure>
      <% const photo = photos.filter(({cafe_id}) => cafe_id === cafe.id) %>
      <% if (photo.length === 0) { %>
        <img src="/img/no_image.jpg" alt="no_image">
      <% } else { %>
        <img src="<%= photo[0].image_url %>" alt="<%= cafe.name %>">
      <% } %>
    </figure>
  </div>
      
  <h2>About</h2>
  <div class="cafe_about">
    <div>      
      <%- cafe.gmap_url %>
    </div>
    <div class="flex-wrapper2">
      <p>Phone number: <%= cafe.phone %></p>
      <p>Website: <a href="<%= cafe.website %>" target="_blank"><%= cafe.website %></a></p>
      <% let ratingPoint = cafe.ave_review_point %>
      <% if (ratingPoint.length === 1) { %>
      <% ratingPoint = `${ratingPoint}.0`%>
      <% } %>
      <p>Rating: <%= ratingPoint %></p>
      <% let date = cafe.date.split(',').shift().split('/')%>
      <% let temp = date[0] %>
      <% date[0] = date[1] %>
      <% date[1] = temp %>
      <% if (date[1].length = 1) { %>
      <% date[1] = `0${date[1]}`%>
      <% } %>
      <% date = date.join('/')%>
      <p>Shared by <%= user.username %> on <%= date %></p>
      <% if (user.id === currentUser.id) { %>
        <p><a href="/cafes/<%= cafe.id %>/edit">Edit</a></p>
      <% } %>
    </div>
  </div>

  <h2>Reviews</h2>
  <div class="reviews">
  <% for (let comment of comments) { %>
    <div class="review">
      <div>
        <div class="flex-wrapper3">
          <img src="<%= user.icon_url %>" alt="user_icon">
          <p><%= user.username %></p>
          <% let date = comment.date.split('/')%>
          <% let temp = date[0] %>
          <% date[0] = date[1] %>
          <% date[1] = temp %>
          <% if (date[1].length = 1) { %>
          <% date[1] = `0${date[1]}`%>
          <% } %>    
          <% date = date.join('/')%>  
          <p class="comment_date"><%= date %></p>
        </div>
        <div class="flex-wrapper4">
          <p>Rating: <%= comment.review_point %></p>
          <% if (user.id === currentUser.id) { %>
            <p><a href="/cafes/<%= cafe.id %>/comment/<%= comment.id %>">Edit</a></p>
          <% } %>
        </div>
        <p><%= comment.comment %></p>
        <% const photo = photos.find(({comment_id}) => comment_id === comment.id) %>
      </div>
      <% if (photo) { %>
        <img src="<%= photo.image_url %>" class="review_photo">
      <% } %>
    </div>
  <% } %>

  <form action="/cafes/<%= cafe.id %>/comment" method="post">
    <textarea name="comment" placeholder="Comment"></textarea>
    <input type="text" name="imageUrl" placeholder="Image link">
    <label for="">Rating: <span class="rating-value"></span></label>
    <input type="range" name="reviewPoint" min="1" max="5" step="1" class="rating-input">
    <button>Comment</button>
  </form>
  </div>
</section>


<%- contentFor('js') %>
<script src="/js/app.js" defer></script>